---
import type { GetStaticPaths } from "astro"
import { getCollection, type CollectionEntry } from "astro:content"
import { Pen } from "lucide"
import Root from "@/layouts/Root.astro"
import Post from "@/layouts/Post.astro"
import BottomMenu from "@/components/BottomMenu.astro"
import ExternalLink from "@/components/ExternalLink.astro"
import LucideIcon from "@/components/LucideIcon.astro"
import Pagination from "@/components/Pagination.astro"
import Prose from "@/components/Prose.astro"

export const getStaticPaths = (async () => {
  const chapters = await getCollection("chapters")
  return chapters.map((c) => {
    return {
      params: { chapter: c.slug },
      props: c,
    }
  })
}) satisfies GetStaticPaths

type Props = CollectionEntry<"chapters">

const { render, data, id } = Astro.props
const { Content, remarkPluginFrontmatter, headings } = await render()
---

<Root
  title={data.title}
  description={data.description}
  creator={`@${data.authorSocial}`}
  image={data.image?.src}
>
  <div
    slot="body"
    class="fixed inset-0 -z-10 h-full w-full bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]"
  >
  </div>
  <Post slot="body" class="relative z-10" title={data.title}>
    <header class="mb-8 md:mb-10">
      <div class="rounded-lg bg-muted/40 backdrop-blur px-6 py-4 space-y-2">
        <div class="flex justify-between">
          <p class="text-muted-foreground">
            {remarkPluginFrontmatter.minutesRead}
          </p>
          <a
            class="underline underline-offset-4 flex items-center gap-x-1.5 text-sm"
            href={`https://github.com/michelangelo-valderrama/understanding-astro-webook/blob/main/src/content/chapters/${id}`}
            target="_blank"
            rel="noopener noreferrer"
          >
            <span>Edit page</span>
            <LucideIcon class="size-3.5" icon={Pen} />
          </a>
        </div>
        {
          data.proyect && (
            <menu class="flex gap-x-4 md:gap-x-6">
              {data.proyect?.view && (
                <li>
                  <ExternalLink href={data.proyect.view}>
                    View demo
                  </ExternalLink>
                </li>
              )}
              {data.proyect?.source && (
                <li>
                  <ExternalLink href={data.proyect.source}>
                    Source code
                  </ExternalLink>
                </li>
              )}
            </menu>
          )
        }
      </div>
    </header>

    <main>
      <Prose>
        <h1 data-ghost-title-trigger>{data.title}</h1>
        <Content />
      </Prose>
    </main>

    <footer class="mb-20">
      <Pagination next={data.next} prev={data.prev} />
    </footer>
  </Post>

  <BottomMenu
    headings={[{ text: "Top", slug: "", depth: 2 }, ...headings]}
    nextLink={data.next?.slug}
    prevLink={data.prev?.slug}
  />
</Root>
