---
import type { GetStaticPaths } from "astro"
import { getCollection, type CollectionEntry } from "astro:content"
import Root from "@/layouts/Root.astro"
import Layout from "@/layouts/Layout.astro"
import Prose from "@/components/Prose.astro"
import Pagination from "@/components/Pagination.astro"
import ExternalLink from "@/components/ExternalLink.astro"

export const getStaticPaths = (async () => {
  const chapters = await getCollection("chapters")
  return chapters.map((c) => {
    return {
      params: { chapter: c.slug },
      props: c,
    }
  })
}) satisfies GetStaticPaths

type Props = CollectionEntry<"chapters">

const { render, data } = Astro.props
const { Content, remarkPluginFrontmatter } = await render()
---

<Root
  title={data.title}
  description={data.description}
  creator={`@${data.authorSocial}`}
  image={data.image?.src}
>
  <Layout class="max-w-screen-sm">
    <header class="mb-8 mt-4 md:mb-10">
      <div class="rounded-lg bg-muted/40 px-6 py-4 space-y-2">
        <p class="text-muted-foreground">
          {remarkPluginFrontmatter.minutesRead}
        </p>
        {
          data.proyect && (
            <menu class="flex gap-x-6 underline ">
              {data.proyect?.view && (
                <li>
                  <ExternalLink href={data.proyect.view}>
                    View demo
                  </ExternalLink>
                </li>
              )}
              {data.proyect?.source && (
                <li>
                  <ExternalLink href={data.proyect.source}>
                    Source code
                  </ExternalLink>
                </li>
              )}
            </menu>
          )
        }
      </div>
    </header>

    <main>
      <Prose>
        <Content />
      </Prose>
    </main>

    <footer><Pagination next={data.next} prev={data.prev} /></footer>
  </Layout>
</Root>
