---
import type { GetStaticPaths } from "astro"
import { getCollection, type CollectionEntry } from "astro:content"
import { ArrowLeft } from "lucide"
import Root from "@/layouts/Root.astro"
import Layout from "@/layouts/Layout.astro"
import Prose from "@/components/Prose.astro"
import Pagination from "@/components/Pagination.astro"
import LucideIcon from "@/components/LucideIcon.astro"

export const getStaticPaths = (async () => {
  const chapters = await getCollection("chapters")
  return chapters.map((c) => {
    return {
      params: { chapter: c.slug },
      props: c,
    }
  })
}) satisfies GetStaticPaths

type Props = CollectionEntry<"chapters">

const { render, data } = Astro.props
const { Content, remarkPluginFrontmatter } = await render()
---

<Root
  title={data.title}
  description={data.description}
  creator={`@${data.authorSocial}`}
  image={data.image?.src}
>
  <Layout>
    <header class="mb-8 md:mb-10">
      <nav class="flex mb-4 md:mb-6">
        <a
          class="font-bold flex items-center gap-x-2 text-muted-foreground hover:text-accent-foreground transition-colors group"
          href="/"
        >
          <LucideIcon
            icon={ArrowLeft}
            class="size-5 group-hover:-translate-x-1 transition"
          />
          Home
        </a>
      </nav>
      <div class="rounded-lg bg-muted/40 px-6 py-4 space-y-2">
        <p class="text-muted-foreground">
          {remarkPluginFrontmatter.minutesRead}
        </p>
        {
          data.proyect && (
            <menu class="flex gap-x-6 underline ">
              {data.proyect?.view && (
                <li>
                  <a
                    href={data.proyect.view}
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    View demo
                  </a>
                </li>
              )}
              {data.proyect?.source && (
                <li>
                  <a
                    href={data.proyect.source}
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    Source code
                  </a>
                </li>
              )}
            </menu>
          )
        }
      </div>
    </header>

    <main>
      <Prose>
        <Content />
      </Prose>
    </main>

    <footer><Pagination next={data.next} prev={data.prev} /></footer>
  </Layout>
</Root>
