---
import ShinyCard from "@/components/ShinyCard.astro"
import LucideIcon from "./LucideIcon.astro"
import { Bookmark } from "lucide"

interface Props {
  href: string
  title: string
  description: string
  shiny?: boolean
}

const { description, href, title } = Astro.props
---

<ShinyCard {href}>
  <header class="flex p-6 pb-2 md:pb-4">
    <h3 class="flex-1 text-lg md:text-xl font-bold">{title}</h3>
    <LucideIcon data-href={`/${href}`} icon={Bookmark} class="hidden" />
  </header>
  <div class="p-6 pt-0">
    <p class="text-muted-foreground">{description}</p>
  </div>
</ShinyCard>

<script>
  const savedPagePathnameInLocalStorage = localStorage.getItem(
    "saved-page-pathname"
  )
  if (savedPagePathnameInLocalStorage) {
    const bookmarkIcons = document.querySelectorAll(
      `[data-href='${savedPagePathnameInLocalStorage}']`
    )
    bookmarkIcons.forEach((b) => {
      b.classList.remove("hidden")
      b.classList.add("fill-foreground")
    })
  }
</script>
