---
import ShinyCard from "@/components/ShinyCard.astro"

interface Props {
  href: string
  title: string
  description: string
  shiny?: boolean
}

const { description, href, title, shiny = false } = Astro.props
---

{
  shiny ? (
    <ShinyCard {href}>
      <header class="flex flex-col space-y-1.5 p-6 pb-2 md:pb-4">
        <h3 class="text-lg md:text-xl font-bold">{title}</h3>
      </header>
      <div class="p-6 pt-0">
        <p class="text-muted-foreground">{description}</p>
      </div>
    </ShinyCard>
  ) : (
    <a
      class="block relative rounded-xl outline-none bg-shiny-card text-card-foreground hover:bg-shiny-card-hover active:bg-shiny-card-hover transition duration-700"
      {href}
    >
      <article class="size-full">
        <header class="flex flex-col space-y-1.5 p-6 pb-2 md:pb-4">
          <h3 class="text-lg md:text-xl font-bold">{title}</h3>
        </header>
        <div class="p-6 pt-0">
          <p class="text-muted-foreground">{description}</p>
        </div>
      </article>
    </a>
  )
}
